<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Capriola&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/sign_in.css">
    <title>Codiel</title>
</head>
<body>
    <div class="title-div">
        <div>
            <h2>Welcome To</h2>
            <h1>CODIEL</h1>
        </div>
        <hr width="300px" size="1px" color="white">
    </div>

    <div class="Form-div">

        <div class="input-div">
            <form action="" class="input-div">

            <label for="email">Email or Username</label>
            <input type="email" id="email" name="email" placeholder="Email or username" required>

            <label for="password">Password</label>
            <input type="password" id="password" name="password" placeholder="Password" required>

            <button type="submit">Sign In</button>
            <p hidden></p>
            </form>
        </div>

        <hr width="75%" size="1px" color="white" style="opacity: 0.4;">
        <p>Don't Have An Account?</p>
        <a href="/sign_up"><i class="fas fa-user-plus"></i> Create New Account</a>
         
    </div>
     
</body>
</html>