<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Capriola&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/sign_up.css">
    <title>Codiel</title>
</head>
<body>
    <div class="title-div">
        <div>
            <h2>Welcome To</h2>
            <h1>CODIEL</h1>
        </div>
        <hr width="300px" size="1px" color="white">
    </div>

    <div class="Form-div">

        <div class="input-div">
            <form action="/user/create-user" method="post" class="input-div">

            <label for="first_name">First Name</label>
            <input type="text" id="first_name" name="first_name" placeholder=" First Name" required>

            <label for="last_name">Last Name</label>
            <input type="text" id="last_name" name="last_name" placeholder=" Last Name" required>

            <label for="dob">Date Of Birth</label>
            <input type="date" id="DOB" name="dob" required>

            <label for="gender">Gender</label>
            <select name="gender" id="gender" required>
                <option value="">None</option>
                <option value="M">Male</option>
                <option value="F">Female</option>
                <option value="O">Other</option>
            </select>

            <label for="number">Number</label>
            <input type="number" id="number" name="number" placeholder="Number" required>

            <label for="email">Email</label>
            <input type="email" id="email" name="email" placeholder=" Email" required>
            <p <%= hide %>>Email already registered</p>

            <label for="password">Password</label>
            <input type="password" id="password" name="password" placeholder="Set Password" required>

            <button type="submit">Sign Up</button>
            </form>
        </div>

        <hr width="75%" size="1px" color="white" style="opacity: 0.4;">

        <div class="sign_up_link">
            <p>Or Sign Up With</p>
            <a href="" id="google_sign_up"><i class="fab fa-google" aria-hidden="true" style="font-size: larger;"></i>mail</a>
        </div>
         
    </div>

    <script src="/js/script_sign_up.js"></script>
     
</body>
</html>