body{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: #436bd8;
    background-image:url('/photos/Back_img.jpg');
    background-blend-mode: unset;
    font-family: 'Capriola', sans-serif;
    color: #FFFA87;
    margin: 0px;
    transition: 0.5s ease-in-out;
}


nav{
    Height: 60px;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.644);
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0px;
    flex-wrap: wrap ;
    z-index: 1;
}



.header{
    height: 60px;
    display: flex;
    width: 60vw;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.header h1{
    margin: 1px;
    font-size: 48px;
    font-weight: 700;
    text-align: center;
}

nav a{
    color: white;
    font-size: 18px;
    font-weight: 700;
    text-decoration: none;
    transition: ease-in-out 0.3s;
}

a:hover{
    transform: scale(1.1);
    color: rgb(162, 91, 228);
}

.active_link{
    color: rgb(162, 91, 228)!important;

}


a:active{
    opacity: 0.7;
}

.all_content{
    /* background-color: rgba(255, 255, 255, 0.432); */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 76px;
    padding: 0px;
}

.create_post{
    margin: 0px;
    background-color: rgba(255, 255, 255, 0.877);
    filter: drop-shadow(0 0 0.75rem rgba(0, 0, 0, 0.521));
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.create_post form{
    margin: 0px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;   
}

textarea{
    border-radius: 10px;
    border: none;
    outline: none;
}

a{
    margin-top: 5px;
    color: #364AFF;
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
    transition: ease-in-out 0.3s;
}

button{
    width: 74px;
    height: 29px;
    color: rgb(255, 255, 255);
    font-weight: 700;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    border-radius: 4px;
    border: None;
    padding-top: 0px;
    margin-top: 5px;
    transition: background-color .6s ease, transform .3s;
    background-color: #2C8DFF;
}

button:hover{
    background-color: #56a5ffec;
}

.feed_post{
    width: 30vw;
    color: black;
    margin-top: 15px;
    background-color: rgba(255, 255, 255, 0.877);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 10px;
    padding: 5px;
    margin-bottom: 5px;
    padding-bottom: 10px;
    filter: drop-shadow(0 0 0.75rem rgba(0, 0, 0, 0.521));

}

.user_info{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.user_info_2{
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.post_delete_button{
    margin-right: 5px;
}

p{
    font-size: 11px;
    font-style: normal;
    font-weight: 200;
}

.user_info p{
    margin-left: 10px;
    font-size: 15px;
}

.dp_img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: #0000005e;
    border-style: ridge;
}

.user_post_image{
    width: 100%;
    height: auto;
}


.user_posted_photo{
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.like_comment{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    margin: 0px;
    padding: 0px;
}

.like_btn_div{
    margin: 0px;
    text-align: center;
    padding: 0px;

}

.like_comment i{
    margin: 0px;
    padding: 0px;
}

.like_comment p{
    margin: 0px;
    padding: 0px;
}


.comment_btn_div{
    margin: 0px;
    text-align: center;
    padding: 0px;
    margin-left: 20px;
}

.comment_display{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 8px;
    width: 100%;
    height: auto;
    max-height: 200px;
    padding-top: 10px;
    overflow: scroll;
    overflow-x: hidden;
    padding-bottom: 10px;
    transition: 1s ease-in-out;
 
}

.comment_display form{
    width: 70%;
}

.comment_userinfo{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.comment_userinfo_1{
    width: 80%;
    display: flex;
    justify-content: flex-start;
    align-items: center;

}

.comment_userinfo_2{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.comment_userinfo_2 a{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
}

.comment_display button {
    text-align: center;
    padding: 0px;
    
}

.comment_display textarea{
    width: 100%;
}


.comment_userinfo img{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border-style: solid;
    border-width: 1px;
}

.comment_userinfo{
    margin-bottom: 0px;
}

.comment_userinfo p{
    margin-left: 5px;
}

.comment{
    width: 70%;
    margin-top: 5px;
    padding: 1px;
    /* border: solid rgb(65, 65, 65); 
    border-width: 2px; */
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
}
.comment_content{
    margin-top: 0px;
    padding-top: 0px;
    margin-left: 25px;
}

.comment p{
    margin-top: 0px;
    margin-bottom: 0px;   
}

.comment_content p{
    margin-top: 0px;
    margin-bottom: 0px;
    color: rgb(76, 70, 163);
}

.hidden-content{
    margin: 0px;
    padding: 0px;
    transition: opacity 1s ease-in-out;
    opacity: 0;
    height: 0;
    overflow: hidden;
}

::-webkit-scrollbar {
    width: 0px!important;
}

::-webkit-scrollbar-track {
    background-color: darkgrey;
}

::-webkit-scrollbar-thumb {
    background-image: linear-gradient(180deg, #D0368A 0%, #708AD4 99%);
    box-shadow: inset 2px 2px 5px 0 rgba(#fff, 0.5);
    border-radius: 100px;
}

